.customer {
  padding: 15px 20px;
}
.customer-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.customer .customer-title h3 {
  margin: 0;
}
.customer .customer-title .MuiButtonBase-root.customer-title__add {
  padding: 6px 12px;
  border-radius: 3px;
  background: #ffa00a;
  font-weight: 700;
  color: #fff;
}
.td-button {
  display: flex;
  justify-content: center;
}
.button-active {
  cursor: pointer;
  text-decoration: underline;
}
.button-edit {
  margin-right: 10px;
}
.button-delete {
  margin-left: 10px;
}
.button-active:hover {
  color: blue !important;
}
.busy {
  color: red !important;
}
.no-busy {
  color: green !important;
}
.dialog-child div {
  width: 100%;
}
.customer-search {
  position: relative;
}
.customer-search .form-control:focus {
    border-color: var(--bs-yellow);
    outline: 0;
    box-shadow: none;
}
.customer-search i {
    position: absolute;
    top: 50%;
    right: 14px;
    transform: translateY(-50%);
}
.customer .customer-list .table thead th{
    line-height: 36px;
}