.menu {
    width: 200px;
    background: #fff;
    padding:15px 5px;
    margin:15px 0 15px 15px;
    border-radius:15px;
}
.menu ul{
    margin: 0;
    padding:0
}
.menu ul .navbar-li {
    list-style: none;
    padding:12px 0 12px 10px;
    cursor: pointer;
    border-radius: 7px;
    font-size: 17px;
    color:#b3b5b8;
    display: flex;
    text-decoration: none;
}
.menu ul .active{
    color:#ffa00a;
}
.menu ul .navbar-li:hover{
    background:#f7f8fc;
    color:#ffa00a;
}
.menu ul .navbar-li i{
    margin-right:15px;
}
.menu ul .navbar-li a{
    font-size: 13px;
    font-weight: 500;
    text-decoration: underline;
}
a{
    color: unset;
}
a:hover{
    color: unset;
}