.booking-div{
    padding:30px 50px;
    height: 100%;
    overflow-y:scroll
}
.button-back{
    color:#ffa00a;
    font-size:20px;
    font-weight:600
}
.button-back i{
    margin-right:10px;
    font-size: 16px;
}
.booking-info{
    margin:25px ;
}
.booking-info__div{
    margin-top:5px;
    display:flex;
    justify-content: start;
    align-items:center
}
.booking-info__value{ 
    font-size:17px;
    font-weight:500;
    margin-left:10px;
}
.booking-info__select,
.booking-info__date{
    margin-top:25px;
}
.booking-info__date .booking-info__value{
    font-size:15px;
    font-weight:400;
}
.form-select{ 
    margin-left:10px;
    width:400px
}
.form-select:focus {
    border-color:#ffa00a ;
    outline: 0;
    box-shadow: none!important;
}
.car-info table{
    margin-top:30px;
    text-align: center;
}
.booking-info__value .css-1d3z3hw-MuiOutlinedInput-notchedOutline{
    top:0!important
}
.booking-info__value .css-1kty9di-MuiFormLabel-root-MuiInputLabel-root {
    background: white;
}
.booking-info__value .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
    height:38px;
}
.booking-info__value .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root{
    line-height: 1rem!important;
    top: -5px!important;
}
.booking-info__price{
    display:flex;
    justify-content:end;
    margin-top:30px
}
.price{
    display:flex;
    justify-content:space-between;
    align-items: baseline;
}
.price p{
    margin:0
}
.price + .price{
    margin-top:20px
}
.price-label{
    margin-right:50px
}
.price-value {
    font-size: 20px;
    font-weight:500;
    letter-spacing: 1px;
    border-bottom: 1px solid #d5d5d5;
}
.booking-info__div.booking-info__submit {
    justify-content: end;
    margin-top:70px
}
.booking-info__div.booking-info__submit .button{
    padding:6px 16px;
    border-radius:5px;
    transition:0.3s;
    cursor:pointer
}
.button-watch {
    background: rgb(252, 244, 234);
}
.button-watch:hover {
    background: rgb(253, 220, 179);
}
.button-submit{
    background:#ffa00a;
    margin-left:20px
}
.button-submit:hover{
    background:#cf8307;
}
.dialog-bill .css-twia2z-MuiPaper-root-MuiDialog-paper{
    max-width: 856px!important;
}
.bill-div {
    width: 100%;
    margin-top: 15px;
    padding: 6px 20px;
    border: 5px solid #555;
}
.bill-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bill-title__logo {
    width: 100px;
}
.bill-title__logo img{
    width:100%;
}
.bill-title__h3 {
    font-size: 25px;
    font-weight: 700;
}
.bill-store>div,
.bill-customer>div,
.bill-price>div,
.bill-signature{
    display: flex;
}
.bill-price>div,
.bill-signature{
    justify-content:space-between
}
.bill-signature>div{
    text-align:center
}
.dialog-bill__value {
    flex: 1;
    padding-left:30px;
    border-bottom: 1px dashed;
}
.bill {
    border-bottom: 1px solid #999;
    padding: 20px 0;
}
.bill >div {
    margin-bottom: 8px;
}
.bill-price .dialog-bill__value{
    text-align:end;
    font-size: 20px;
    font-weight:600
}
.bill-signature.bill {
    height: 200px;
}
.display-none{
    display:none
}